.moduleCard {
  border-radius: 8px;
  border: 1px solid #090A6D;
  padding: 1rem;
  margin: 1rem;
  background-color: #fff;
}

.moduleCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 12px rgba(0,0,0,0.1);
}

.moduleLink {
  text-decoration: none; 
  color: inherit; 
}

.headerContainer {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.headerContainer h1 {
  margin: 0.5rem 1rem 0 1rem;
  font-size: 2.5rem;
  color: var(--navy-blue);
}

.headerContainer h2 {
  margin: 0.5rem 1rem 1rem 1rem;
  font-size: 2.5rem;
  color: var(--navy-blue);
}