:root {
  --navy-blue: #0C0F97;
  --black-primary: #0C0C0C;
  --gray-dark: #525252;
  --gray-light: #696969;
  --white-primary: #FFFFFF;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: var(--white-primary);
  color: var(--black-primary);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: var(--navy-blue);
}

code, pre {
  font-family: 'Courier New', Courier, monospace;
  background-color: #f4f4f4;
  padding: 2px 4px;
  border-radius: 4px;
}